<div>

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" ng-click="backToNavigator()">洋葱数学</a>
      </div>
      <div class="collapse navbar-collapse">
        <p class="navbar-text"> 光合新知出品</p>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">冯大根 <b class="caret"></b></a>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>            
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">错题本</a></li>
              <li class="divider"></li>
              <li><a href="#">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

   <div class="container">

    <div class="col-lg-9 col-md-9">
      <div class="page-box">
        <h4>错题本</h4>
        <ul class="nav nav-tabs">
          <li ng-class="{'active':tag=='all'}"><a ng-click='showCurrentProblems("all")'>全部  ({{allProblemsArr.length}})</a></li>
          <li ng-class="{'active':tag=='favorite'}"><a ng-click='showCurrentProblems("favorite")'>我的收藏 ({{favoriteProblemsArr.length}})</a></li>
        </ul>
        <ul class="list-group cuoti">
             <problem ng-repeat="mproblem in currentProblems" class="list-group-item" ></problem>
         </ul>
      </div>
    </div>
    
    <div class="side col-lg-3 col-md-3">
      <div class="panel panel-default lesson-filter">
        <div class="list-group">
          <a class="list-group-item list-group-item-heading"><span class="badge pull-right">{{totalProblemCount}}</span>全部章节</a>
        </div>


        <div ng-repeat='chapter in allChapterArr' class="list-group">
<!--           <div class="list-group"> -->
            <div class="list-group-item list-group-item-heading" ng-click="clickOnItem(chapter)">
              <span class="badge pull-right">{{problemCountMap[chapter.id]}}</span>{{chapter.name}} <span class="caret"></span>
            </div>
<!--           </div> -->

          <div ng-show="selectedChapterId==chapter.id" class="list-group">
            <div ng-repeat="lesson in navigatorMap[chapter.id]" ng-class="{'list-group-item':true, 'active':selectedLessonId==lesson.id}" ng-click="clickOnItem(lesson)" class="list-group-item">
              <span ng-class="{'empty':!problemCountMap[lesson.id], 'badge':true, 'pull-right':true}">{{problemCountMap[lesson.id] || 0}}</span>{{lesson.title}}
            </div>       
          </div>

        </div>

      </div>
    </div>
   </div> 



