<div class="chapter-container">
    <!--  <chapter>   -->
<!--         <header class="main-header">
            <div class="chapter-back-button" ng-click="returnToSubject()">
                <img src="resources/img/back.png"/>
            </div>
            <span>{{ chapterTitle }}</span>
        </header> -->

  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand" ng-click="backToNavigator()">洋葱数学</a>
      </div>
      <div class="collapse navbar-collapse">
        <p class="navbar-text" style="margin-left:-10px;opacity:.5;"> 光合新知出品</p>
        <ul class="nav navbar-nav">
          <li class="active"><a href="" ng-click="goToNavigator()">学习</a></li>
          <li><a href="" ng-click="goToMistakeNote()">错题本</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown">{{me.name || me.username}}<b class="caret"></b></a>
            <span class="dropdown-arrow dropdown-arrow-inverse"></span>            
            <ul class="dropdown-menu" role="menu">
              <li><a href="" ng-click="signout()">登出</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

        <div class="chapter-content">
            <comb></comb>
        </div>

        <div id="lessonLoaderModal" class="modal fade" role="dialog" aria-labelledby="lessonsLoaderLabel"
             data-backdrop="static">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>
        
  <!--  </chapter>   -->
</div>